openapi: 3.1.0
info:
  title: Klavis AI MCP Platform MCP Servers Users API
  description: Klavis AI is an open-source MCP integration platform for AI agents. The REST API manages hosted MCP servers, tool invocation, sandbox VM acquisition, and user/integration metadata. API key authentication is passed via the Authorization Bearer header; OAuth 2.0 is supported for third-party service flows.
  version: v1
  contact:
    name: Klavis AI Developer Support
    url: https://www.klavis.ai/docs
servers:
- url: https://api.klavis.ai
  description: Klavis AI production server
security:
- BearerAuth: []
tags:
- name: Users
  description: End-user metadata for agent integrations
paths:
  /api/user/{user_id}:
    get:
      operationId: getUser
      summary: Get User Information
      description: Retrieve user metadata by user identifier.
      tags:
      - Users
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User identifier
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    User:
      type: object
      properties:
        userId:
          type: string
        email:
          type: string
        integrations:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Klavis account API key passed via the Authorization Bearer header
